main{
display: grid;
grid-template-areas: 
"img img"
"overview ingredients"
"howToDoit howToDoit";
gap: 6px;
}

h1{
font-size: 2.5rem;
}
h2{
font-size: 1.9rem;
}

main > img {
grid-area: img;
justify-self: center;
align-self: center;
}

section{
background-color: var(--secondaryColor);
padding: 5px;
border-radius: 10px;

}
main > section:first-of-type {
grid-area: overview;
}

main > section:nth-of-type(2) {
grid-area: ingredients;
}

main > section:last-of-type {
grid-area: howToDoit;
}

dt{
font-size: 1.4rem;

}
